:host{
  width:99%;
  display: flex;
  margin: 5px;
  flex-wrap: wrap;
  align-content: stretch;
}

:host > div {
  width:50%;
}

@media only screen and (max-width: 860px){
  :host > div {
    width: 100%;
  }
}
